/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-color: rgb(255, 255, 255);
}

section {
    width: 90%;
    margin: 0 auto;
    padding-top: 2.5em;
    text-align: center;
}
